body {background-color: #caf0f8; font-family: monospace;}
p {background-color: #caf0f8; color: #03045e;}
ul {color: #0096c7;}
dl {color: #03045e;}
h1 {color: #023e8a; background-color: #ade8f4; border: dashed blue;}
h2 {color: #023e8a; background-color: #ade8f4; border: solid blue;}

.box {
  display: flex;
  justify-content: space-between;
}
